/* Mobile Navigation Overlay */

.mobile-menu {
  position: fixed;
  top: 100px;
  left: -100%;

  width: 100%;
  height: 100vh;

  /* background: rgba(255, 255, 255, 0.98); */
  backdrop-filter: blur(10px);

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 30px;

  transition: 0.4s ease;

  z-index: 900;
}

.mobile-menu.show {
  left: 0;
}

.mobile-menu a {
  text-decoration: none;
  /* font-size: 5px; */
  color: black;
  /* font-weight: bold; */
  margin-left: 50px;
  line-height: 0.7;
}
.mobile-menu .inlink-padding{
  margin-left: 70px;
}
.mobile-menu .inlink-heading-title{
  cursor:none;
}
