.auth-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  background-color: azure;
}

.auth-toggle {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.auth-toggle button {
  padding: 10px 20px;
  border-radius: 999px;
  border: 1px solid rgba(66, 38, 170, 0.3);
  background: transparent;
  cursor: pointer;
}

.auth-toggle .active {
  background: rgba(66, 38, 170, 0.2);
  color: #4226AA;
  font-weight: bold;
}

.auth-card {
  width: 380px;
  padding: 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.03);
  /* border: 1px solid rgba(66, 38, 170, 0.2); */
  backdrop-filter: blur(12px);
}

.auth-title {
  font-size: 26px;
  margin-bottom: 5px;
}

.auth-subtitle {
  font-size: 13px;
  margin-bottom: 20px;
}

.input-box {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 10px;
  border:1px solid rgb(179, 175, 175);
}

.input-box input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
}

.primary-btn {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  background: #4226AA;
  display: flex;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  color: white;
}

.primary-btn:hover {
  opacity: 0.9;
}

.divider {
  text-align: center;
  margin: 15px 0;
  color: #666;
  font-size: 12px;
}

.google-btn {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #095285;
  background: transparent;
  display: flex;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

.switch-text {
  margin-top: 15px;
  font-size: 12px;
  text-align: center;
}

.switch-text span {
  color: #4226AA;
  cursor: pointer;
  font-weight: bold;
}

.hero-auth{
    
}