.getstarted-main {
    height: 80px;
    width: 100%;
    /* border: 1px solid black; */

    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.logoish-icon-getstarted {
    height: 70%;
    width: 50%;
    margin-left: 10px;

    font-family: "Edu NSW ACT Cursive", cursive;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: italic;
}

.logoish-icon-demo {
    height: 70%;
    width: 40%;
    margin-left: 10px;

    font-family: "Edu NSW ACT Cursive", cursive;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: italic;
}
.logoish-icon-demo a, .logoish-icon-getstarted a{
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}