.description-about {
    /* text-align:justify; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    line-height: 1.5;
    color: grey;
    width: 90%;
}

.main-landing{
    padding: 20px;
}


.logoish-icon {
    margin-left: 10px;
    font-size: 12px;
}

.landing-hero-section {
    padding: 20px 0px 0px 10px;
}

.landing-hero-content {
    max-width: 100%;
}

.landing-hero-line {
    padding: 0;
    margin: 0;
    
    font-size:30px;
    font-weight: bold;
    line-height: 1.1;
    min-width: 100%;

    animation: revealText 0.8s ease forwards;
}



@keyframes revealText {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

