.hero, .description-about{
    padding-right: 20px;
    
}

.logoish-icon{
    margin-left: 20px;
    font-size: 12px;
}





/* ****************************** */
/* HERO SECTION */
.hero-section {
  padding: 50px 32px;
}

.hero-content {
  /* max-width: 900px; */
  max-width: 100%;
  /* background-color: #a855f7; */
}

/* HERO TEXT */
.hero-line {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.1;

  opacity: 0;
  transform: translateY(40px);

  animation: revealText 0.8s ease forwards;
}

/* First line delay */
.line1 {
  animation-delay: 0.2s;
}

/* Second line delay */
.line2 {
  animation-delay: 0.8s;
}

/* Gradient */
.gradient-text {
  background: linear-gradient(to right, #22d3ee, #a855f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Paragraph */
.fade-up {
  margin-top: 30px;
  /* max-width: 700px; */

  font-size: 20px;
  line-height: 1.7;
  color: #a1a1aa;

  opacity: 0;
  transform: translateY(30px);

  animation: revealText 0.8s ease forwards;
  animation-delay: 1.4s;
}


/* KEYFRAMES */
@keyframes revealText {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}