.nav-top-right-pc {
    display: none;
}

@media (min-width: 768px) {
    .nav-top-right-mobile {
        display: none;
    }
    
    .nav-top-right-pc {
        display: flex;
        align-items: center;
        width: auto;
        flex-shrink: 0;
    }
}