.nav-top-right-pc{
    display: none;
}






@media (min-width:1024px) {
    
.nav-top-right-mobile{
    display: none;
}
.nav-top-right-pc{
    display: block;
    /* background-color: aquamarine; */
    width: 190px;
    
    
}

.mode-switch{

}

}