*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-app {
  min-height: 100vh;
  width: 100%;


}

/* mobile-header-section */
.notification{
  width: 100%;
  display: flex;
  justify-content: center;
  grid-row: 1/2;
}


.mobile-header {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100px;
  background-color: white;
}
.app-logo {
  height: 100%;

}
.app-logo img{



  margin-top: 5px;
  height: 100%;
  width: 100%;
}
.hamburger-logo{
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aquamarine; */
}


.line{
  height: 0.1px;
  width: 100%;
  background-color: cornflowerblue;
}

.page-content{
  background-color:azure;
}