*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-app {
  min-height: 100vh;
  width: 100%;


}


.line{
  height: 0.1px;
  width: 100%;
  background-color: cornflowerblue;
}

.page-content{
  background-color:azure;
}